

.listOfProducts {
  width: 10%;
  /* height: calc(100vh - 80px); */
  display: flex;
  /* justify-content: center; */
  padding-top: 60px;
}

.productsList {
  columns: 3 auto;
  display: inline-block;
}

.productDisplay {
  width: 200px;
  height: 200px;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}
* {
  padding-top: 0;
  margin-top: 0;
}
